<section class="first-screen">
<div class="left-side">
<h2>Стекло на заказ</h2>
<span>Резка, плавка, оформление, двери ручки кони птицы</span>
<br><button>Узнать больше</button>
</div>
<div class="right-side">
    <img src="" alt="" class="right-image">
</div>
  {{#if isAuth}}
    <a href="/logout" class="btn btn-primary">Выйти</a>
  {{else}}
    <a href="/auth" class="btn btn-primary">Авторизация</a>
  {{/if}}
</section>

<section class="advantages">
</section>
