<section class="first-screen">
<div class="left-side">
<h2>Стекло на заказ</h2>
<span>Резка, плавка, оформление, двери ручки кони птицы</span>
<br><button>Узнать больше</button>
</div>
<div class="right-side">
    <img src="" alt="" class="right-image">
</div>
</section>

<section class="advantages">
    
</section>