* {
  margin: 0;
  padding: 0;
}

.first-screen {
  width: 100vw;
  height: 100vh;
  background-color: beige;
}

li {
  display: inline;
  margin-right: 100px;
}
ul {
  display: flex;
  justify-content: space-around;
  background-color: aqua;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
