<div class="container">
  <h1 class="brand"><span>Elbrus</span> Web Design</h1>
  <div class="wrapper animated bounceInLeft">
    <div class="company-info">
      <h3>Студия стеклодизайна Sofi-Эль</h3>
      <ul>
        <li><i class="fa fa-map"></i>Москва</li>
        <li><i class="fa fa-road"></i>ТЦ "Твой Дом" Крокус Сити 66 км МКАД</li>
        <li><i class="fa fa-phone"></i> +7 495 727 2415</li>
        <li><i class="fa fa-phone"></i> +7 926 521 9317</li>
        <li><i class="fa fa-phone"></i> +7 926 462 2236</li>
        <li><i class="fa fa-envelope"></i>sofielle.st2020@gmail.com</li>
      </ul>
    </div>
    <div class="contact">
      
      <h3>Связаться с нами</h3>
      <form id='telegramForm' action="/telegram" method="post" class="form" id="telegramForm"
        enctype="application/x-www-form-urlencoded">
        <p>
          <label>Ваше Имя</label>
          <input type="text" name="name">
        </p>
        {{!-- <p>
          <label>Ваша организация</label>
          <input type="text" name="company">
        </p>
        <p>
          <label>Email</label>
          <input type="text" name="email">
        </p> --}}
        <p>
          <label>Телефон</label>
          <input type="tel" name="phone">
        </p>
        <p class="full">
          <label>Ваше сообщение</label>
          <textarea name="message" rows="5"></textarea>
        </p>
        <p class="full">
          <button>Отправить</button>
        </p>
      </form>
    </div>
    <div class="success">
      <h3>Спасибо. Ваше сообщение отправлено.</h3>
    </div>
    <div class="error">
      <h3>Произошла ошибка.</h3>
    </div>
  </div>
</div>
